@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(255, 248, 243);
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:top left,bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: Open Sans;
    padding: 27px;
    margin-left: 50px;
}
.text{
    margin-left: 150px;
    font-family: Open Sans;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.text-span{
    color:rgb(253, 110, 10);
}
ul{
    margin-right: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;

}
.list{
    margin-right: 50px;
}
.link{
    text-decoration: none;
    color: rgb(71, 71, 71);
font-size: 15px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0%;
}
.btn{
    border-radius: 5px;
    border-style: none;
    color: rgb(255, 255, 255);
font-size: 14px;
font-weight: 500;
line-height: 17px;
text-align: center;
background: rgb(253, 110, 10);
padding: 12px 35px;
}
/* content style */
.content{
    font-family: Open Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0 200px;
}
.img{
width: 584px;
height: 663px;

}
.info{
    font-family: Open Sans;
display:flex;
justify-content: left;
align-items:left;
flex-direction: column;
text-align: left;
margin-right: 30px;
}
.me{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 40px;
font-weight: 620;
line-height: 55px;
margin-right: 255px;
padding-bottom: 20px;
/* text-align: left; */
}
.name{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 65px;
font-weight: 700;
line-height: 75px;
margin-right: 45px;
padding:20px 20px 20px 0px;
}
.data{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 450;
line-height: 26px;
text-align: left;
padding-bottom: 30px;
}
/* style section */
.section-about{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    width: 1140px;
    height: 550px;
    margin: 120px 150px 120px 150px;
    border-radius: 10px;
background: rgb(255, 248, 243);
padding: 15px 15px 15px 15px;
}
.header-about{
    width: 827px;
    height: 288px;
    left: 386px;
    top: 1098px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
border: 1px solid rgb(0, 0, 0);
background: rgb(255, 255, 255);
}
.about-heading{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.developer-spech{
    color: rgb(117, 117, 117);
font-family: Open Sans;
padding-top: 20px;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
}
.developer-contact{
    padding-top: 32px;
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    padding-bottom: -50px;
}
.name-m{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}
.from-marry{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}